dump.rdb
data_creation/__pycache__
output/datalake/processed/*
!output/datalake/processed/.gitkeep
output/datalake/staging/*
!output/datalake/staging/.gitkeep
output/cloudwatch_reports/*
!output/cloudwatch_reports/.gitkeep
!output/datalake/staging/.gitkeep
toy_example/__pycache__
output/cloudwatch_reports/*
test/__pycache__
toy_example/.DS_Store
output.json
